
.form-container{
    display: flex;
    justify-content: center;
}

main{
    max-width: 400px;
}

.botones{
    
    display: flex;
    justify-content: space-around;
}

#pass-req{
    font-size: 10px;
}