
.form-container{
    display: flex;
    justify-content: center;
}

main{
    max-width: 400px;
}

.botones{
    
    display: flex;
    justify-content: space-around;
}

#edad-req{
    font-size: 10px;

}
#pass-req{
    font-size: 10px;
}

#area{
    width: 100px;
}

.telefono{
    display: flex;
    justify-content:space-between;
}